{{ with .Site.Data.home.about }}
{{ if .enable }}

{{ "<!-- Section About -->" | safeHTML }}
<div class="section about" id="section-about">
  <div class="content">

    {{ "<!-- title -->" | safeHTML }}
    <div class="titles">
      <div class="title">{{ .title }}</div>
      <div class="subtitle">{{ .subtitle }}</div>
    </div>

    {{ "<!-- text -->" | safeHTML }}
    <div class="cols">
      <div class="col col-full">
        <div class="single-post-text">
          {{ .text | safeHTML }}
        </div>
      </div>
    </div>

    {{ "<!-- info list -->" | safeHTML }}
    <div class="info-list">
      <ul>
        {{ range .list }}
        <li><strong>{{ .label }}:</strong> {{ .value }}</li>
        {{ end }}
      </ul>
    </div>

    <div class="clear"></div>
  </div>
</div>

{{ end }}
{{ end }}
