{{ define "main" }}

{{ $home := .Params.home }}
{{ $page := . }}

{{ if $home }}

	{{ if eq $page.Params.bg_type "image-1" }}
	  {{ partial "heroImage1Section.html" . }}
	{{ else if eq $page.Params.bg_type "image-2" }}
	  {{ partial "heroImage2Section.html" . }}
	{{ else if eq $page.Params.bg_type "image-3" }}
	  {{ partial "heroImage3Section.html" . }}
	{{ else if eq $page.Params.bg_type "slider" }}
	  {{ partial "heroSliderSection.html" . }}
	{{ else if eq $page.Params.bg_type "video" }}
	  {{ partial "heroVideoSection.html" . }}
	{{ else }}

	{{ end }}

	{{ partial "startedSection.html" . }}

	{{ partial "aboutSection.html" . }}

	{{ partial "serviceSection.html" . }}

	{{ partial "pricingSection.html" . }}

	{{ partial "resumeSection.html" . }}

	{{ partial "skillSection.html" . }}

	{{ partial "testimonialSection.html" . }}

	{{ partial "clientsSection.html" . }}

	{{ partial "portfolioSection.html" . }}

	{{ partial "contactSection.html" . }}

{{ else }}

<div class="background-bg background-bg-inner">
  <div class="background-filter">
    <div class="background-img"></div>
  </div>
</div>

<div class="section started">
	<div class="centrize full-width">
		<div class="vertical-center">
			<div class="started-content">
				<h1 class="h-title">{{ .Title }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="section blog">
    <div class="content">
        <div class="post">
            <div class="content-box">
                <div class="single-post-text">
                    {{ .Content }}
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

{{ end }}

{{ end }}
