<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

  {{ partial "head.html" . }}

  <body class="{{ if or .IsHome .Params.home }} home{{ end }}{{ if .IsPage }}{{ if or ( eq .Type "blog" ) ( eq .Type "page" ) }}{{ if .Params.home }}{{ else }} post{{ end }}{{ end }}{{ end }}{{ if or .IsSection ( eq .Kind "term" ) }} blog{{ end }}{{ if eq .Kind "404"  }} post{{ end }}">

    {{ partial "preloader.html" . }}

    {{ "<!-- Container -->" | safeHTML }}
  	<div class="container">
      {{ partial "header.html" . }}

      {{ "<!-- Wrapper -->" | safeHTML }}
      <div class="wrapper">
        {{ block "main" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </div>

    {{ partial "scripts.html" . }}

  </body>

</html>
